<div class="sample">
  <% if sample.language != '' %>	  
    <p><b>Language:</b> <%=h sample.language %></p>
  <% end %>
  <% if sample.category != 'unknown' and sample.category != nil %>	  
    <p><b>Category:</b> <%=h sample.category %></p>
  <% end %>
  <p><b>Text:</b> <%=h sample.body %></p>
  <p><b>Length:</b> <%= sample.body.length %></p>
  <p>
    <%= link_to 'N-grams', sample_ngram_path(sample) %> |
    <%= link_to 'Show', sample %> |
    <%= link_to 'Edit', edit_sample_path(sample) %> |
    <%= link_to 'Destroy', sample, :confirm => 'Are you sure?', :method => :delete %>
  </p>
</div>
<hr />