<h1>Samples</h1>
<div class="left">
	<%= link_to 'Polish', '/samples?lang=polish' %> |
	<%= link_to 'English', '/samples?lang=english' %>
</div>
<%= clear %>
<%= link_to 'New sample', new_sample_path %>
<hr />
<%= render :partial => @samples %>

<br />

<%= link_to 'New sample', new_sample_path %>