<h1>Samples</h1>
<div class="left">
	<%= link_to 'Polish', '/samples?lang=polish' %> |
	<%= link_to 'English', '/samples?lang=english' %>
</div>
<div class="right">
	<%= link_to 'Music', '/samples?cat=music' %> |
	<%= link_to 'Design', '/samples?cat=design' %> |
	<%= link_to 'Sport', '/samples?cat=sport' %> |
	<%= link_to 'Politics', '/samples?cat=politics' %>
</div>
<%= clear %>
<%= link_to 'New sample', new_sample_path %>
<hr />
<%= render :partial => @samples %>

<br />

<%= link_to 'New sample', new_sample_path %>