<p><%= link_to 'Back', samples_path %></p>
<% if @sample.language != '' %>
  <h1>Sample text for <%= @sample.language %> language</h1>
<% end %>

<h3>Length: <%= @sample.body.length %></h3>
<p><%=h @sample.body %></p>
<hr />
<%= link_to 'N-grams', sample_ngram_path(@sample) %> |
<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
<hr />
<h2>Analyze language:</h2>
<h3>I. Distance method</h3>
<p>
  <% form_tag( :action => :analyze_a) do %>
    <%= hidden_field_tag "sample_id", @sample.id %>
    Max distance: <%= text_field_tag "max_distance", "3000" %>
    <br />
    <%= submit_tag('Analyze') %>
  <% end %>
</p>
<h3>II. Density method</h3>
<p>
  <% form_tag( :action => :analyze_b) do %>
    <%= hidden_field_tag "sample_id", @sample.id %>
    <%= submit_tag('Analyze') %>
  <% end %>
</p>
<hr />
<h2>Analyze category:</h2>
<h3>I. Distance method</h3>
<p>
  <% form_tag( :action => :analyze_c) do %>
    <%= hidden_field_tag "sample_id", @sample.id %>
    Max distance: <%= text_field_tag "max_distance", "3000" %>
    <br />
    <%= submit_tag('Analyze') %>
  <% end %>
</p>
<h3>II. Density method</h3>
<p>
  <% form_tag( :action => :analyze_d) do %>
    <%= hidden_field_tag "sample_id", @sample.id %>
    <%= submit_tag('Analyze') %>
  <% end %>
</p>
<hr />
