<div class="left">
  <% if current_user %>
		<% form_tag( :action => :feed ) do %>
		  URL: <%= text_field_tag "url", "http://api.twitter.com/statuses/public_timeline.json" %>
		  <%= submit_tag('Pobierz') %>
		<% end %>
	<% end %>
</div>
<div class="right">
<% if current_user %>
	<% form_tag( :action => :update_categories) do %>
    <%= submit_tag('Uaktualnij kategorie') %>
  <% end %>
<% end %>
</div>
<%= clear %>
<h1><%= @all_size %> tweetów napisanych po polsku</h1>
<hr />
<h2 class="twitt_menu">
  przeczytaj <%= link_to 'najnowsze', twitts_path %>
  lub wybierz temat: <%= link_to 'muzyka', twitts_path(:temat => 'muzyka') %>
  <%= link_to 'design', twitts_path(:temat => 'design') %>
  <%= link_to 'sport', twitts_path(:temat => 'sport') %>
  <%= link_to 'polityka', twitts_path(:temat => 'polityka') %>
</h2>
<hr />
<%= render :partial => "shared/twitt", :collection => @twitts %>
<%= will_paginate @twitts, :previous_label => '« wstecz', :next_label => 'dalej »' %>

