<div class="left">
  <% if current_user %>
		<% form_tag( :action => :feed ) do %>
		  URL: <%= text_field_tag "url", "http://api.twitter.com/statuses/public_timeline.json" %>
		  <%= submit_tag('Pobierz') %>
		<% end %>
	<% end %>
</div>
<div class="right">
<% if current_user %>
	<% form_tag( :action => :update_categories) do %>
    <%= submit_tag('Uaktualnij kategorie') %>
  <% end %>
<% end %>
</div>
<%= clear %>
<h1><%= @all_size %> tweetów napisanych po polsku</h1>
<h2>
  <%= link_to 'ostatnie', twitts_path %> |
  temat: <%= link_to 'muzyka', twitts_path(:temat => 'muzyka') %>
</h2>
<hr />
<%= render :partial => "shared/twitt", :collection => @twitts %>
<%= will_paginate @twitts, :previous_label => '« wstecz', :next_label => 'dalej »' %>

