<% if user %>
<div class="user">
	<div class="avatar left">
	  <%= image_tag user.profile_image_url %>
	</div>
	<div class="user_info">
		<p>
		  <b><%= link_to user.screen_name, twitter_user_path(user) %></b>
	  </p>
    <p>
	    <%= user.followers_count %> obserwujących |
      obserwuje <%= user.friends_count %>
      <br />
	    <%= user.statuses_count %> tweetów | 
      jest na <%= user.listed_count %> listach
    </p>
  </div>
  <%= clear %>
</div>
<hr />
<% end %>