<div id="home">
	<div class="home_twitts">
		<h1 class="header"><%= link_to "#{@all_size} tweetów napisanych po polsku", twitts_path %></h1>
		<hr />
		<h3 class="twitt_menu">
		  wybierz temat: <%= link_to 'muzyka', root_path(:temat => 'muzyka') %>
		  <%= link_to 'design', root_path(:temat => 'design') %>
		  <%= link_to 'sport', root_path(:temat => 'sport') %>
		  <%= link_to 'polityka', root_path(:temat => 'polityka') %>
		</h3>
		<hr />
		<%= render :partial => "shared/twitt", :collection => @twitts %>
		<%= will_paginate @twitts, :previous_label => '« wstecz', :next_label => 'dalej »' %>
	</div>
	<div class="top_users">
		<h1 class="header"><%= link_to "#{@all_users_size} polskich użytkowników", twitter_users_path %></h1>
		<hr />
		<h3 class="twitt_menu">
		  <div class="left"><%= link_to 'najpopularniejsi', twitter_users_path(:sort => 'najpopularniejsi') %></div>
		  <div class="right"><%= link_to 'wszyscy', twitter_users_path %></div>
		  <%= clear %>
		</h3>
		<hr />
		<%= render :partial => 'shared/user', :collection => @users %>
		<p><%= link_to 'zobacz wszystkich', twitter_users_path %></p>
    <h3><%= link_to 'Polski Twitter (Twittabout)', twitter_user_path(@me) if @me %></h3>
    <%= render :partial => 'my_twitt', :collection => @my_twitts %>
    <%= link_to 'zobacz wszystkie', twitter_user_path(@me) if @me %>
	</div>
	<%= clear %>
</div>












<!--
<div id="home_info">
  <h1>Witaj,</h1>
  <p>Aplikacja <span class="app_name">Polski Twitter :: Twitter Po Polsku :: Twittabout</span> jest w trakcie budowy.</p>
  <p>Informacje o postępie prac będą pojawiały się na poniższym koncie na Twitterze:</p>
  <p><%= link_to 'http://twitter.com/TwittaboutCom', 'http://twitter.com/TwittaboutCom' %></p>
  <span class="author"><%= link_to 'Dominik', 'http://twitter.com/domininik' %></span>
  <div id="icon">
    <%= link_to image_tag('/images/icon.png'), 'http://twitter.com/TwittaboutCom' %>
  </div>
  <%= clear %>
</div>
-->
 