<div id="home">
	<div class="home_twitts">
		<h2><%= @all_size %> tweetów napisanych po polsku</h2>
		<h3>
		  <%= link_to 'ostatnie', root_path %> |
		  temat: <%= link_to 'muzyka', root_path(:temat => 'muzyka') %>
		</h3>
		<%= render :partial => "shared/twitt", :collection => @twitts %>
		<%= will_paginate @twitts, :previous_label => '« wstecz', :next_label => 'dalej »' %>
	</div>
	<div class="home_users">
		<h2><%= @users.size %> polskich użytkowników</h2>
		<h3><%= link_to 'najpopularniejsi:', twitter_users_path(:sort => 'najchetniej_followani') %></h3>
		<%= render :partial => 'home/user', :collection => @users %>
		<p><%= link_to 'zobacz wszystkich', twitter_users_path %></p>
	</div>
	<%= clear %>
</div>












<!--
<div id="home_info">
  <h1>Witaj,</h1>
  <p>Aplikacja <span class="app_name">Polski Twitter :: Twitter Po Polsku :: Twittabout</span> jest w trakcie budowy.</p>
  <p>Informacje o postępie prac będą pojawiały się na poniższym koncie na Twitterze:</p>
  <p><%= link_to 'http://twitter.com/TwittaboutCom', 'http://twitter.com/TwittaboutCom' %></p>
  <span class="author"><%= link_to 'Dominik', 'http://twitter.com/domininik' %></span>
  <div id="icon">
    <%= link_to image_tag('/images/icon.png'), 'http://twitter.com/TwittaboutCom' %>
  </div>
  <%= clear %>
</div>
-->
 