<% if twitter_user %>
<div class="user">
	<div class="info">
		<div class="avatar left">
		  <%= image_tag twitter_user.profile_image_url %>
		</div>
		<div class="left">
			<p>
			  <b><%= link_to twitter_user.screen_name, twitter_user_path(twitter_user) %></b>
			  (<%=twitter_user.name%>)
		  </p>
		  <% unless current_user %>
		    <p>
			    <%= twitter_user.statuses_count %> tweetów | 
		      <%= twitter_user.followers_count %> obserwujących |
		      obserwuje <%= twitter_user.friends_count %> kont |
		      jest na <%= twitter_user.listed_count %> listach
		    </p>
		  <% else %>
		    <div class="last_tweet"><%= links_format(twitter_user.latest_tweet.body) if twitter_user.latest_tweet %></div>
	    <% end %>
	  </div>
	  <% if current_user %>
		  <div class="right">
			  <%= link_to 'usuń', twitter_user, :confirm => 'Czy na pewno chcesz usunąć?', :method => :delete %>
			</div>
		<% end %>
	  <%= clear %>
  </div>
  <% unless current_user %>
    <p><%= links_format(twitter_user.latest_tweet.body) if twitter_user.latest_tweet %></p>
  <% end %>
</div>
<hr />
<% end %>