<div>
	<div>
		<p><%= links_format(twitt.body) %></p>
    <span class="left twitt_info">
      <%= twitt.originally_created.strftime("%H:%M %d.%m.%Y") %> przez <%= source(twitt) %>
    </span>
	  <span class="right">
	    <%= link_to 'usuń', twitt, :confirm => 'Czy na pewno chcesz usunąć?', :method => :delete if current_user %>
	  </span>
	  <%= clear %>
  </div>
</div>
<hr />