<% if params[:q] %><p class="warning">Czy na pewno chodziło Ci o <%=params[:q]%>?</p><% end %>
<div class="users left">
	<h1 class="header"><%= @users.size %> polskich użytkowników</h1>
	<hr />
	<h3 class="twitt_menu">
		<%= link_to 'alfabetycznie', twitter_users_path %> |
		<%= link_to 'najpopularniejsi', twitter_users_path(:sort => 'najpopularniejsi') %> |
		<%= link_to 'najbardziej aktywni', twitter_users_path(:sort => 'najbardziej_aktywni') %>
	</h3>
	<% if current_user %>
	  <div class="left">
  	  <% form_tag(:action => :update_all) do %>
  	    <%= submit_tag 'uaktualnij wszystkich' %>
  	  <% end %>
	  </div>
	  <div class="left">
  	  <% form_tag(:action => :search_new) do %>
  	    <%= submit_tag 'wyszukaj nowych' %>
  	  <% end %>
	  </div>
	  <%= clear %>
	<% end %>
	<hr />
	<%= render :partial => @users %>
</div>
<div class="top_users">
	<h3>wpisz nazwę użytkownika:</h3>
	<!-- TODO more sophisticated search -->
	<div class="search">
		<% form_tag(:action => :search) do %>
		  <%= text_field_tag 'q' %>
		  <%= submit_tag 'szukaj' %>
		<% end %>
	</div>
	<hr />
	<h3>najpopularniejsi:</h3>
	<%= render :partial => 'shared/user', :collection => @top_users %>
</div>
<%= clear %>