<% if current_user %>
  <p class="right">
    <%= link_to 'uaktualnij', @user, :method => :put %> |  
    <%= link_to 'usuń', @user, :confirm => 'Czy na pewno chcesz usunąć?', :method => :delete %>
	</p>
<% end %>
<%= clear %>
<div class="avatar left">
  <%= image_tag @user.profile_image_url %>
</div>
<div class="left">
	<h2 class="name"><%= @user.name %></h2>
	<p><%= link_to "http://twitter.com/#{@user.screen_name}", "http://twitter.com/#{@user.screen_name}" %></p>
</div>
<div class="right">
	napisał <%= @user.statuses_count %> tweetów | 
  ma <%= @user.followers_count %> followerów |
  followuje <%= @user.friends_count %> kont |
  jest na <%= @user.listed_count %> listach
	<% if (url = @user.url) %><p><%= links_format(url) %></p><% end %>
	<% if (desc = @user.description) %><p><%= desc %></p><% end %>
</div>
<%= clear %>
<hr />
<h3>Ostatnie tweety:</h3>
<%= render :partial => 'twitt', :collection => @twitts %>

<%= will_paginate @twitts, :previous_label => '« wstecz', :next_label => 'dalej »' %>
