<h1>Kandydaci na prezydenta RP 2010 na Twitterze</h1>
<div class="candidate">
  <%= image_tag @avatar_1.url if @avatar_1 %>
  <h2><%= @twitts_1.first.username if @twitts_1 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_1 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_2.url if @avatar_2 %>
  <h2><%= @twitts_2.first.username if @twitts_2 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_2 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_3.url if @avatar_3 %>
  <h2><%= @twitts_3.first.username if @twitts_3 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_3 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_4.url if @avatar_4 %>
  <h2><%= @twitts_4.first.username if @twitts_4 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_4 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_5.url if @avatar_5 %>
  <h2><%= @twitts_5.first.username if @twitts_5 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_5 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_6.url if @avatar_6 %>
  <h2><%= @twitts_6.first.username if @twitts_6 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_6 %>
</div>
<div class="candidate">
  <%= image_tag @avatar_7.url if @avatar_7 %>
  <h2><%= @twitts_7.first.username if @twitts_7 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_7 %>
</div>
<div class="candidate last">
  <%= image_tag @avatar_8.url if @avatar_8 %>
  <h2><%= @twitts_8.first.username if @twitts_8 !=[] %></h2>
  <%= clear %>
  <%= render :partial => 'twitt', :collection => @twitts_8 %>
</div>
<%= clear %>


