<p><%= link_to 'Back', sample_path(@sample) %></p>
<h1>N-grams for <%= @sample.language %> sample text</h1>
<h2>Original text:</h2> 
<p><%= @sample.body %></p>
<p>Length: <%= @sample.body.length %></p>
<h2>Preprocessed text:</h2> 
<p><%= @pre %></p>
<p>Length: <%= @pre.length %></p>
<hr />
<h2><%= ngrams_size(@sample) %> N-grams:</h2>
<p>
  <% form_tag( :action => :generate_ngrams) do %>
    <%= hidden_field_tag "sample_id", @sample.id %>
    max N = <%= text_field_tag "max", '3', :size => 3 %>
    <br />
    <%= submit_tag('generate') %>
  <% end %>
</p>
<hr />
<% if @sample.ngram %>
  <p><%= format(@sample.ngram.body) %></p>
<% end %>


