<h1>Editing rule</h1>

<% form_for(:rule, @rule, :url => rule_path(@rule), :html => { :method => "put" }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :word_weight %>
    <%= f.text_field :word_weight %>
  </p>
  <p>
    <%= f.label :synonymy %><br />
    <%= f.text_area :synonymy %>
  </p>
  <p>
    <%= f.label :synonymy_weight %>
    <%= f.text_field :synonymy_weight %>
  </p>
  <p>
    <%= f.label :is_a %><br />
    <%= f.text_area :is_a %>
  </p>
  <p>
    <%= f.label :is_a_weight %>
    <%= f.text_field :is_a_weight %>
  </p>
  <p>
    <%= f.label :similar_to %><br />
    <%= f.text_area :similar_to %>
  </p>
  <p>
    <%= f.label :similar_to_weight %>
    <%= f.text_field :similar_to_weight %>
  </p>
  <p>
    <%= f.label :is_a_part_of %><br />
    <%= f.text_area :is_a_part_of %>
  </p>
  <p>
    <%= f.label :is_a_part_of_weight %>
    <%= f.text_field :is_a_part_of_weight %>
  </p>
  <p>
    <%= f.label :consists_of %><br />
    <%= f.text_area :consists_of %>
  </p>
  <p>
    <%= f.label :consists_of_weight %>
    <%= f.text_field :consists_of_weight %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_area :destination %>
  </p>
  <p>
    <%= f.label :destination_weight %>
    <%= f.text_field :destination_weight %>
  </p>
  <p>
    <%= f.label :filter %><br />
    <%= f.text_area :filter %>
  </p>
  <hr />
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<%= link_to 'Show', rule_path %> |
<%= link_to 'Back', rules_path %>