<% form_for @user_session do |form| %>  
<%= form.error_messages %>  
<div class="login_form">  
  <div>  
    <%= form.label :username, "Login" %>  
    <%= form.text_field :username %>  
  </div>  
  <div>  
    <%= form.label :password, "Hasło" %>  
    <%= form.password_field :password %>  
  </div>  
  <div>  
    <%= form.submit "Zaloguj" %>  
  </div>  
</div>  
<% end %>
