<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
  <meta name="google-site-verification" content="zk4A2cm8SrPl-mXovQVxOHdtXcrevmlVu8Mgjz6oZYE" />
  <title><%= @title ? @title + "  :: Polski Twitter (Twittabout)" : "#{controller.controller_name.capitalize} :: Polski Twitter" %></title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
  <div id="header">
	  <div class="regular_width">
	    <div id="logo">
		    <%= link_to image_tag('/images/icon.png'), root_path %>
	      <h1><%= link_to 'polski twitter', root_path %></h1>
	    </div>
	    <div class="right">
		    <div id="admin_menu">
			    &nbsp;
				  <% if current_user %>
			      <%= link_to "sample", samples_path %> |
			      <%= link_to "reguły", rules_path %> |
		        <%= link_to "dodaj admina", new_user_path %> |
		        <%= link_to "edytuj profil", edit_user_path(:current) %> |
		        <%= link_to "wyloguj", logout_path %>
		      <% end %>
		    </div>
		    <%= clear %>
		    <div id="main_menu">
			    <div class="button left"><%= link_to "tweety", twitts_path %></div>
		      <div class="button left"><%= link_to "użytkownicy", twitter_users_path %></div>
			  </div>
	    </div>
	    <%= clear %>
	  </div>
  </div>
  <% if controller.controller_name == "home" %>
	  <div id="banner" class="content border grey">
		  <h2 class="left">Przeczytaj, o czym piszą polscy użytkownicy Twittera.</h2>
		  <h2 class="center">Poznaj najpopularniejszych i najbardziej aktywnych.</h2>
		  <h2 class="right">Bądź zawsze na bieżąco z aktualnymi trendami.</h2>
	  </div>
  <% end %>
  <div id="content" class="border grey">
    <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
    <% if flash[:error] %><p class="error"><%= flash[:error] %></p><% end %>
    <%= yield %>
  </div>
  <div id="footer">
	  <div class="regular_width">
		  <div id="footer_icon">
		    <%= link_to image_tag('/images/icon_64.png'), 'http://twitter.com/TwittaboutCom' %>
		  </div>
		  <div id="footer_info">
		    <span><%= link_to 'o serwisie', '/info' %></span>
			  <span>Polski Twitter :: Twitter Po Polsku :: Twittabout</span> 
			  <span><%= link_to 'twitter.com/TwittaboutCom', 'http://twitter.com/TwittaboutCom' %></span>
			  <span>Copyright © 2010 <%= link_to 'Dominik Fijaś', 'http://twitter.com/domininik' %></span>
			</div>
		  <%= clear %>
	  </div>
  </div>
</body>
</html>
