<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
  <meta name="google-site-verification" content="zk4A2cm8SrPl-mXovQVxOHdtXcrevmlVu8Mgjz6oZYE" />
  <title><%= @title ? @title + "  :: Polski Twitter (Twittabout)" : "Twittabout :: #{controller.controller_name.capitalize}" %></title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
  <div id="header">
	  <div class="regular_width">
	    <div id="logo">
		    <%= image_tag('/images/icon.png') %>
	      <h1><%= link_to 'polski twitter', '/' %></h1>
	    </div>
	    <div id="main_menu">
			  <% if current_user %>
		      <%= link_to "Samples", samples_path %> |
		      <%= link_to "Rules", rules_path %> |
		      <%= link_to "Twitts", twitts_path %> |
		      <%= link_to "Users", twitter_users_path %>
		    <% end %>
	    </div>
	    <div id="header_menu">  
	      <% unless current_user %>
	        <%= link_to "zaloguj", login_path %>
	      <% else %>
	        <%= link_to "dodaj admina", new_user_path %> |
	        <%= link_to "edytuj profil", edit_user_path(:current) %> |
	        <%= link_to "wyloguj", logout_path %>
	      <% end %>
	    </div>
	    <%= clear %>
	  </div>
  </div>
  <div id="content" class="border grey">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="error"><%= flash[:error] %></p>
    <%= yield %>
  </div>
  <div id="footer">
  </div>
</body>
</html>
