<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />  
  <meta name="google-site-verification" content="zk4A2cm8SrPl-mXovQVxOHdtXcrevmlVu8Mgjz6oZYE" />
  <title>Polski Twitter :: Kandydaci Na Prezydenta :: Wybory Prezydenckie</title>
  <%= stylesheet_link_tag 'styles' %>
</head>
<body>
  <div id="header">
  </div>
  <div id="fluid_content">
    <p class="notice"><%= flash[:notice] %></p>
    <p class="error"><%= flash[:error] %></p>
    <%= yield %>
  </div>
  <div id="fluid_footer">
    <div class="content">
      <div class="left">
        <%= link_to 'Polski Twitter', 'http://polskitwitter.pl' %>
      </div>
      <span id="info" class="left">Strona w budowie, przepraszamy za usterki :)</span>
      <div id="footer_icon">
        <%= link_to image_tag('/images/icon_64.png'), 'http://twitter.com/TwittaboutCom' %>
      </div>
      <%= clear %>
    </div>
  </div>
</body>
</html>
